<div id="Div_modalNewPostCreated" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
		<h3>New</h3>
	</div>
	<div class="modal-body">
		<p>
			A new post has been created. you will redirect to post list site.
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true" >Close</a>
	</div>
</div>

<form id="Frm_NewPost" method="#">
	<fieldset>
		<legend>
			New Post
		</legend>
		<label>Title</label>
		<input id="Txt_postTitle" name="Txt_postTitle" type="text" placeholder="title">

		<label>Text</label>
		<textarea id="Txt_postMessage" name="Txt_postMessage" rows="5"></textarea>		
    

	</fieldset>
</form>
<button id="Btn_SaveNewPost" class="btn btn-primary btn-small">
	Save
</button>